extends layout

block content
	h1 This worlds best product
	form(method="post", action="/charge")
		select(name="Merchant")
			option(value=1) 1
			option(value=2, selected) 2
			option(value=3) 3
		input(name="Amount", placeholder="Amount")
		select(name="CurrencyCode")
			option(value="SEK", selected) SEK
			option(value="EUR") EUR
		input(name="Customer" placeholder="Customers Name")
		label(for="Capture") Capture
		input(type="checkbox", name="Capture", checked)

		input(type="submit")


	-for (var i=0; i<uncaptured.length; i++)
		p= uncaptured[i]
		a(href="/capture/"+uncaptured[i]) Capture payment
